body{
  background-color: #ECEEF1;
  margin-top: 0px;
  font-family: AvenirNext, Avenir, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
#Login {
  margin-left: 78%;
  height:20px;
  margin-bottom: 50px;
}
header > button {
  margin-top: -5px;
  height: 34px;
  width: 100px;
  border-radius: 4px;
  background-color: #0077C5;
  border: 1px solid #4c4c4c;
}

.toplogos {
  width:100%;
  height:80px;
  background-color: red;
}
#formarea {
  background-color: white;
  margin: 0 auto;
  border-radius: 2px;
  width: 380px;
}
.mainform{
  background-color: white;
}
#EndofForm{
  background-color: #ECEEF1;
}
.bottom, a {
  margin-top: 30px;
  height: 80px;
  width: 100%;
  color: #505050;
  font-size: 12px;
  text-decoration: none;
  text-align: center;
}
a:hover {
  text-decoration: underline;
}
.midding {
  margin: 0 auto;
}
.botline {
  width:60%;
  text-align: center;
  font-size: 12px;
}
