body{
  background-color: #ECEEF1;
  margin-top: 0px;
  font-family: AvenirNext, Avenir, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
#Login {
  margin-left: 81%;
  height:30px;
  margin-bottom: 50px;
}
#LoginEx {
  margin-top: 13px;
  position: absolute;
  text-align: right;
  font-size: 12px;
  color: #505050;
}
#LoginEx a, .FormHeader a, .FormHeader a:hover {
  text-decoration: none;
  color: #0077C5;
}
#LoginButton{
  float: right;
  margin-top: 10px;
  color: white;
}
#whitelock1 {
margin-right: 4px;
}
header button {
  margin-top: -5px;
  height: 34px;
  width: 100px;
  border-radius: 4px;
  background-color: #0077C5;
  border: 1px solid #4c4c4c;
}

.toplogos {
  width:80%;
  height:80px;
  display: block;
  margin: 0 auto;
}
#Main {
  margin-top: 12px;
}
#formarea {
  background-color: white;
  border: 1px solid #c7c7c7;
  margin: 0 auto;
  border-radius: 2px;
  box-shadow: none;
  width: 310px;
  height: 600px;
  overflow: visible;
  padding: 22px;
}
.mainform{
  background-color: white;
}
.FormHeader {
  font-size: 14px;
  text-align: center;
  color: #4C4C4C;
  margin-top: 5px;
}
.sign-up-header {
  line-height: 1.1;
  text-align: center;
  font-size: 24px;
}
.mainform p {
  padding: 15px;
}
label {
  font-weight: 400;
  color: #404040;
  font-size: 14px;
  line-height: 25px;
}
input {
  border: 1px solid #C1C5C8;
  border-radius: 3px;
  line-height: 1.3em;
  color: #000;
  outline: 0;
  font-size: 1.2em;
  width: 320px;
  min-width: 160px;
  padding-left: 8px;
  padding-right: 6px;
  height: 28px;
  margin-bottom: 35px;
}
#Phone {
  margin-bottom: 20px;
}
#warning {
  padding: 5px 0;
  font-size: 10px;
  color: #444;
  margin-top: -52px;
  position: absolute;
}
#Password input {
background-image: url("https://accounts.intuit.com/IUS-Plugins/v2/images/lock-left-grey@3x.png");
background-position: right top;
background-repeat: no-repeat;
background-size: contain;
}
#EndofForm{
  background-color: #ECEEF1;
}
.bottom, a {
  margin-top: 30px;
  height: 80px;
  width: 100%;
  color: #505050;
  font-size: 12px;
  text-decoration: none;
  text-align: center;
}
a:hover {
  text-decoration: underline;
}
#inlogo {
  margin-left: 439px;
}
.botline {
  width:60%;
  text-align: center;
  font-size: 12px;
}
.midding{
  display: block;
  margin: 0px auto;
}
