body{
  background-color: #ECEEF1;
  margin-top: 0px;
  font-family: AvenirNext, Avenir, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
#Login {
  margin-left: 81%;
  height:30px;
  margin-bottom: 50px;
}
#LoginEx {
  margin-top: 13px;
  position: absolute;
  text-align: right;
  font-size: 12px;
  color: #505050;
}
#LoginEx a {
  text-decoration: none;
  color: #0077C5;
}
#LoginButton{
  float: right;
  margin-top: 10px;
  color: white;
}
#whitelock1 {
margin-right: 4px;
}
header button {
  margin-top: -5px;
  height: 34px;
  width: 100px;
  border-radius: 4px;
  background-color: #0077C5;
  border: 1px solid #4c4c4c;
}

.toplogos {
  width:80%;
  height:80px;
  display: block;
  margin: 0 auto;
}
#Main {
  margin-top: 12px;
}
#formarea {
  background-color: white;
  border: 1px solid #c7c7c7;
  margin: 0 auto;
  border-radius: 2px;
  box-shadow: none;
  width: 320px;
  height: 600px;
  overflow: visible;
  padding: 30px;
}
.mainform{
  background-color: white;
}
#EndofForm{
  background-color: #ECEEF1;
}
.bottom, a {
  margin-top: 30px;
  height: 80px;
  width: 100%;
  color: #505050;
  font-size: 12px;
  text-decoration: none;
  text-align: center;
}
a:hover {
  text-decoration: underline;
}
#inlogo {
  margin-left: 439px;
}
.botline {
  width:60%;
  text-align: center;
  font-size: 12px;
}
.midding{
  display: block;
  margin: 0px auto;
}
